<ul class="menu">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/movies">Movies</a>
  </li>
  <li>
    <a href="/movies/2/toto">Movies Details</a>
  </li>
  <li>
    <a href="/movies/add">Add</a>
  </li>
</ul>
