<!DOCTYPE html>
<html>

<% include ./partials/head %>

  <body>
    <% include ./partials/header %>
      <h1>Express Movies : le site des cinéphiles</h1>
      <div>plouf plouf</div>
  </body>

  <% include ./partials/footer %>

</html>
