<!DOCTYPE html>
<html>

<% include ./partials/head %>

  <body>
    <% include ./partials/header %>
      <h1>
        <%= movieName %>
      </h1>
      <div>plouf plouf movies-details
        <%= movieId %>
      </div>
      <% include ./partials/footer %>
  </body>

</html>
